.skills-shape-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.skills-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 2px);
    height: 93px;
    transform: rotateY(180deg);
}

.skills-shape-divider .shape-fill {
    fill: url(#skills-divider-shape-gradient) rgb(var(--color-page-grad-from));
}

