@import "animations.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root{
        --color-page-grad-from:20 30 48;
        --color-page-grad-to:36 59 85;
        --color-header-bg:255 255 255;

        --color-skin-primary:255 59 85;
        --color-on-skin-primary:36 59 85;

        --color-text-base: 243 244 246;
        --color-text-muted: 199 204 213;
        --color-brand-primary: 255 205 0;
        --color-brand-secondary: 134 51 153;
        --color-brand-tertiary: 0 130 203;

        /*skills*/
        --skills-gauge-base: rgba(var(--color-text-muted) / 0.3);
        --skills-gauge-grad-from: rgb(var(--color-brand-primary));
        --skills-gauge-grad-to: rgb(var(--color-brand-secondary));

        --skills-card-bg: rgb(var(--color-page-grad-from))

    }

    .space-light{
        --color-page-grad-from:201 214 255;
        --color-page-grad-to:226 226 226 ;
        --color-header-bg:0 0 0;

        --color-text-base: 44 42 46;
        --color-text-muted: 199 204 213;
        --color-brand-primary: 255 205 0;
        --color-brand-secondary: 134 51 153;
        --color-brand-tertiary: 0 130 203;

    }
}
@layer components {
    .app-section{
        @apply w-full flex justify-center
    }
    .app-section > .content {
        @apply w-full max-w-screen-2xl px-8
    }
}
